.tile-style {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  margin: 0 10px;
}

.tile-span-style {
  color: white;
  font-size: 20px;
  font-weight: 700;
}
